@model IEnumerable<AsyncInn.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<h4>There are @Model.Count() Rooms total.</h4>
<div>
    <form asp-controller="Room" asp-action="Index">
        <p>
            Search By Name: <input type="text" name="RoomName">
            <input type="submit" value="Filter" />
        </p>
    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layouts)
            </th>
            <th> @Html.DisplayNameFor(model => model.RoomAmenities)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Layouts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomAmenities.Count)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
