@model IEnumerable<AsyncInn.Models.HotelRoom>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.ID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.HotelID,item.RoomNumber }) |
                @Html.ActionLink("Details", "Details", new { item.HotelID, item.RoomNumber }) |
                @Html.ActionLink("Delete", "Delete", new { item.HotelID, item.RoomNumber })
            </td>
        </tr>
}
    </tbody>
</table>
