@model IEnumerable<AsyncInn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amenity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amenity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.ID)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { item.AmenitiesID,item.RoomID }) |*@
                @Html.ActionLink("Details", "Details", new { item.AmenitiesID, item.RoomID}) |
                @Html.ActionLink("Delete", "Delete", new { item.AmenitiesID, item.RoomID })
            </td>
        </tr>
}
    </tbody>
</table>
